
    h1 {
      font-size: 3em;
      line-height: 1;
      margin-bottom: 0.5em;
    }
    p {
      margin-bottom: 1.5em;
    }
    ul {
      list-style: none;
      margin-bottom: 1.5em;
    }
    .main-image {
      width: 380px;
      margin-bottom: 0.75em;
    }
    .thumbnails li {
      display: inline;
      margin: 0 10px 0 0;
    }

.bor
{
    border: none;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.cus{
    width:700px;
    height: 300px;
}

.imgesresponsive
{
    width:600px;
    height: 400px;

}

.imgesresponsive1
{
    width:650px;
    height: 400px;

}


.propic
{
        padding-left: 100px;
}

.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.custyle{
    padding-left: 0px;
}

.imgbanner{
    width:730px;
    height:436px;
}
