<style>
    @import url('../css/list.css');
    @import url('../css/home.css');
    @import url('../css/loginSignup.css');
    @import url('../css/gallery.css')
</style>


<div class="padding20"></div><div class="padding20"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
            <div class="row">
                <div class="col-md-2 "><p>$2.5M</p></div>
                 <div class="col-md-2 "><button type="button" class="btn btn-success btn-xs ">For Sale</button>
                 </div>
                 <div class="col-md-6 ">
                  <div class="dropdown ">
                       <button class="btn btn-default btn-xs dropdown-toggle previous" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                       EMI Start at $5000
                            <span class="caret"></span>
                       </button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                       <li><a href="#">Action</a></li>
                       <li><a href="#">Another action</a></li>
                       <li><a href="#">Something else here</a></li>
                       <li role="separator" class="divider"></li>
                       <li><a href="#">Separated link</a></li>
                       </ul>
                  </div>
                 </div>
            </div>
           </div>
      </div>  <!-- row clse-->
    </div><!-- 1st block close-->


    <div class="row"><!-- 2nd block start-->
     <div class="col-md-12">
         <div class="col-md-6 ">
            <h5> 2 Bed, 2 Bath 1575 Sqft Apartments | Posted O:15 June 2016</h5>
         </div>
         <div class="col-md-3">
             <h5>Compare this Property</h5>
         </div>
          <div class="col-md-3 col-sm-offset-0"><a href="#" class="btn btn-default bor"><span class="glyphicon glyphicon-print"></span></a>
      <a href="#" class="btn btn-default bor "><span class="glyphicon glyphicon-thumbs-up"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-thumbs-down"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-random"></span></a>
      <a href="#" class="btn btn-default bor"> <span class="glyphicon glyphicon-shopping-cart"></span></a></div>
       </div>
    </div><!-- 2ndblock close-->


    <div class="row"><!-- 3rd block start-->
				<div class="col-md-9 ">
                    <img class="img-rounded img-responsive imgbanner" src="http://placehold.it/600x400">

				</div>

				<div class="col-md-3 ">
                <h4 class="text-center">Brenda Fuller</h4>
        <div class="panel text-center">
    		<div class="panel-body">
    			<img alt="Avatar" class="img-md img-circle img-border mar-btm" src="http://bootdey.com/img/Content/avatar/avatar4.png">
                <div class="pad-btm">
    				<button class="btn btn-info btn-sm">Company Profile</button>
    				<button class="btn btn-info btn-sm">See All Listings</button>
    			</div>
    			<h4 >Agent Name</h4>
    			<p>Ghassan Saleh (BRN: 30723)</p>
                <h4 >Real Estate Agency Details</h4>
    			<p>Saudi Real Estate (RERA ORN: 12945)</p>
                <div class="pad-btm">
    				<button class="btn btn-success">Call Broker</button>
    				<button class="btn btn-success">Live Chat</button>
    			</div>

    		</div>

    	</div>
		</div>
    </div><!-- 3rd block clsoe-->


</div><!--container close-->
